.card.quotation
  %a.card-image.card-cover.top-card-image{:href => quotation_path(quotation), :class => "#{!policy(quotation).show? && 'disabled'}", :style => "background-image: url('#{quotation.illustration_for(current_user, :thumbnail)}')"}
    %span.new.badge{"data-badge-caption" => "#{t("quotations.state.#{quotation.state}")}"}
    %span.card-title.card-title-onbright= raw t('.commissioner_title', { artist_name: h(quotation.artist.name) })

  .card-content
    .row
      .col.s12.ellipsis
        %h5= t('.custom_quote')
        %p.ellipsis= quotation.description

  = render partial: "quotations/actions", locals: { quotation: quotation }
