.card-image.card-cover.top-card-image{:style => "background-image: url('#{(@quotation.artist == current_user ? @quotation : @quotation.proposal).illustration_for(current_user, :banner)}')"}
  %span.new.badge{"data-badge-caption" => "#{t("quotations.state.#{@quotation.state}")}"}
  .card-title.card-title-onbright
    - if @quotation.artist == current_user
      = raw t('.artist_title', { proposal_title: h(@quotation.proposal.title), commissioner_name: h(@quotation.commissioner.name), proposal_path: proposal_path(@quotation.proposal), commissioner_path: profile_path(user_id: @quotation.commissioner) })
    - else
      = raw t('.commissioner_title', { proposal_title: h(@quotation.proposal.title), artist_name: h(@quotation.artist.name), proposal_path: proposal_path(@quotation.proposal), artist_path: profile_path(user_id: @quotation.artist) })
