.container
  .row
    .col.s12.l10.offset-l1
      = form_for(@character, url: [current_user, @character]) do |f|
        .card.page-card
          .card-content
            %h4.top= raw t(".title", { character_name: h(@character.name) })
            = render partial: 'users/characters/form', locals: { f: f, proposal: @character }
          .card-action.flex-align
            = link_to [current_user, @character], :class => 'tooltipped btn-floating', "data-position" => "bottom", "data-delay" => "0", "data-tooltip" => t('.destroy_tooltip'), :method => :delete, 'data-confirm' => t('.destroy_confirmation') do
              %i.material-icons delete
            = f.button t('.submit'), class: 'btn waves-effect waves-light z-depth-0'
