- content_for :page do
  .container
    .row
      .col.l10.offset-l1.s12
        .card.page-card.page
          .card-content
            %h4
              = t("pages.titles.#{params[:id]}")
            = yield
          .empty-card-action
- content_for(:page_title) { t("pages.titles.#{params[:id]}") }
= render template: "layouts/application"
